<header class="header-comum d-flex align-items-center" [ngStyle]="{'background-color':colorBackground}">
    <img src="assets/comum-assets/header/trakto-edu-logo-dark.svg" class="logo-header" alt="">

    <div class="options d-flex justify-content-end ms-auto p-2">
        <div class="calendar d-flex align-items-center">
            <img src="assets/comum-assets/header/calendar-icon.svg" class="calendar-icon" alt="">
            <div class="date-text">08/02/2023</div>
        </div>
        <div class="divisor-line align-self-center"></div>
        <img src="assets/comum-assets/header/bell-icon.svg" class="bell-icon" alt="">
        <div class="divisor-line align-self-center"></div>
        <img src="assets/comum-assets/header/Alexa-icon.png" class="icon-profile" alt="">
        <img src="assets/comum-assets/header/arrow-button-down-2.svg" alt="">
    </div>
</header>