<div class="content-courseware">
    <div class="details-courseware d-flex">
        <div class="navigate-content d-grid">
            <div class="weeks-navigate d-flex align-items-center">
                <div class="weeks">
                    <span>{{weeksTxt}}</span>
                </div>
                <div class="arrow-left-weeks d-flex justify-content-center align-items-center">
                    <img src="assets/courseware-page/icon-arrow-left.svg" alt="">
                </div>
                <div class="arrow-right-weeks d-flex justify-content-center align-items-center">
                    <img src="assets/courseware-page/icon-arrow-right.svg" alt="">
                </div>
            </div>
            <span class="tittle-content">{{tittleTxt}}</span>
            <span class="sub-tittle-content">{{subTittleTxt}}</span>
        </div>
        <div class="block-right-content d-flex justify-content-end">
            <div class="d-flex align-items-center mb-auto">
                <div class="button-right d-flex" [ngStyle]="{'border-color': btnRightColor}"
                (click)="clickedBtnRight.emit()">
                    <img *ngIf="btnRightIconPath" src="{{btnRightIconPath}}" class="icon-btn-right" alt="">
                    <div class="btn-txt d-flex align-items-center" [ngStyle]="{'color': btnRightColorTxt}">
                        {{btnRightTxt}}
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="holder-scroll-content">
        <div class="d-flex">
            <div class="scroll-to-left" 
                (mouseenter)="scrollToLeft()" (mouseleave)="stopScroll()">
            </div>
            <div class="scroll-to-left" style="left: 235px"
                (mouseenter)="scrollToLeft()" (mouseleave)="stopScroll()">
            </div>

            <div class="scroll-to-right" style="right: 145px"
                (mouseenter)="scrollToRight()" (mouseleave)="stopScroll()">
            </div>
            <div class="scroll-to-right" style="right: 45px"
                (mouseenter)="scrollToRight()" (mouseleave)="stopScroll()">
            </div>
        </div>
        
        <div class="scroll-content" #slidesScroll>
            <ng-content></ng-content>
        </div>
        
    </div>
</div>