.design
    margin-right: 32px
    margin-bottom: 28px

    .design-thumb
        background-repeat: no-repeat
        width: 100%
        height: 174px
        background-size: cover

        .number-slides
            margin-left: 16px
            margin-bottom: 16px
            padding: 4px 8px 4px 8px
            background-color: #0C0C0C
            opacity: 0.7
            border-radius: 24px
            width: 66px
            margin-top: 16px
            font-family: Roboto
            font-size: 14px
            color: #FFFFFF

    .design-tittle
        margin-top: 16px
        font-family: Roboto
        font-size: 18px
        color: #354564
